.buttonContainer{
    width: 90%;
    display: flex;
    justify-content: center;
    margin: auto;
}
.buttonContainer button{
    width: 14rem;
    height: 3rem;
    border: none;
    font-size: 1.2rem;
    margin-right: 1rem;
    cursor: pointer;
}
.Next{
    color: #eedbff;
    background-color: #685c74;
    box-shadow: 1px 1px 10px lightgray;
}
.Cancel{
    background-color: #eedbff;
    color: #685c74;
    
}
.Next:hover{
    color: #eedbff;
    background-color: #9f8cb3;
    box-shadow: 1px 1px 10px lightgray;
}
.Next:disabled{
    color: #eedbff;
    background-color: #685c74;
    cursor: not-allowed;

}
.Cancel:hover{
    background-color: #9f8cb3;
    color: #eedbff;
    
}
@media (max-width:769px){
    .buttonContainer{
       margin: auto;
    }
}