.paymentContainer{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 2rem 3rem 3rem  ;
}
.paymentContainer h3{
     padding-bottom: 1rem;
    border-bottom: 1px solid #eedbff;
    text-align: center;
}

.payOption{
    display: grid;
    grid-gap:7rem;
    
}
.payOption>div{
    align-items: center;
    grid-gap:1rem;
    padding: 1rem 1rem ;
    border: 1px solid;
    display: grid;
    width: 85%;   
    background-color: #eedbff;
    color: #685c74;
}
.cardDetails{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 3fr 1fr 1fr;
}
.cardDetails>input{
      margin-bottom: 1rem ;
}
.creditCard input{
    height: 2rem; 
    width: 100%;  
}
.creditCard{
    grid-template-columns: 0fr 1fr;
}
.creditCard{
    box-sizing: border-box;
}
.payPal{
    grid-template-columns: 0fr 4fr 1fr;  
    margin-bottom: 3rem;
}
@media (max-width:376px){
    .paymentContainer{
        display: block;
        padding: 2rem 3rem 3rem  ;
    }
    .payOption{
        grid-gap:2rem;   
    }
    .payOption>div{
        width: 90%;
    }
    .payPal{
        grid-template-columns: 0fr 4fr 1fr;  
        margin-bottom: 3rem;
    }
    .creditCard{
        width: 102% !important;
    }
  }
  @media (max-width:769px) and (min-width:376px){
    .paymentContainer{
        display: block;
        padding: 2rem 3rem 3rem  ;
    }
    .payOption{
        grid-gap:2rem;   
    }
    .payOption>div{
        width: 90%;
    }
    .payPal{
        grid-template-columns: 0fr 4fr 1fr;  
        margin-bottom: 3rem;
    }
    .creditCard{
        width: 96% !important;
    }
  }