.breadcrumbs-container {
  font-size: smaller;
  color: rgba(255, 255, 255, 0.849);
}

.breadcrumb {
  all: unset;
  cursor: pointer;
  transition: font-size 0.07s;
}

.pathIcon {
  width: 6px;
  margin: 0 7px;
}

.breadcrumbs-container img:last-child {
  display: none;
}

.breadcrumb:hover {
  color: rgb(255, 255, 255);
font-size: medium;}
