.tagLine{
    background: url('https://images.unsplash.com/flagged/photo-1587302164675-820fe61bbd55?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=80');
    color: #685c74;
    height: 30rem;
    text-align: center;
    display: grid;
    align-items: center;
    
}

.tagLine input{
    width: 40%;
    height: 3rem;
    font-size: larger;
    border: 3px solid #685c74;
    border-radius: 7px;
    box-shadow: 6px 6px 10px lightgray, -6px -6px 10px lightgray ;
    
}

::placeholder{
    padding-left: 1rem;
}

.productContainer>div:first-child{
    width: 50%;
    margin: auto;
    text-align: center;
    color: #685c74;
}
.productContainer{
    padding: 0 6rem;
}
.productList{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-gap: 1rem;
    padding: 2rem 0;
}
.item{
    color: #685c74;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    
}

.item:hover{
    background-color: #685c74;
    color: white;
    height: 7.05rem;
    cursor: pointer;
}
.addCart{
    display: block;
    background-color: #685c74;
    color: white;
    position: relative;
    bottom: 25%;
    opacity: 0.6;
    left:-15%;
    padding: 0.5rem;
    width: 60%;
    margin: auto;
}
.addCart:hover{
    display: block;
    cursor: pointer;
    opacity: 1;
}

@media (max-width:376px){
    .tagLine{
        background-size: 400px 400px;
        text-align: center;
    }
    .tagLine h1{
        margin-bottom: 0;
    }
    .tagLine p{
        font-size: smaller;
    }
    .tagLine input{
        width: 80%;
        height: 2rem;
    }
    .productContainer{
        padding: 0;
    }
    .productContainer>div:first-child{
        width: 70%;
    }
    .productList{
        grid-template-columns: repeat(1, 1fr);
        padding-left: 1rem;
    }
    .addCart{
        display: block;
        cursor: pointer;
        opacity: 1;
    }
    .linkContainer span{
        left:3rem;
    }
}
@media (max-width:769px) and (min-width:376px){
    .tagLine{
        background-size: 260px 260px;
    }
    .tagLine p{
        font-size: medium;   
    }
    .tagLine input{
        margin-top: 2rem;
        width: 70%;
        height: 3rem;
    }
    .productList{
        grid-template-columns: repeat(2, 1fr);
        padding-left: 1rem;
    }
    .addCart{
        display: block;
        cursor: pointer;
        opacity: 1;
    }
}
