.footerContainer {
  height: 12vh;
  margin: auto;
  background-color: #eedbff;
  display: grid;
  justify-items: center;
  color: #685c74;
  align-items: center;
}
.footerContainer a {
  cursor: pointer;
  color: #685c74;
}
.footerContainer a:hover {
  color: #9f8cb3;
}
.footerContainer > div:first-child {
  justify-content: center;
}

.footerLinkContainer {
  display: grid;
  width: 40vw; 
  grid-template-columns: repeat(4, 12%);
  list-style-type: none;
  justify-content: center;
  text-align: center;
  margin-left: 0;
}

.footerDivider {
    border-right: 1px solid gray;
}

@media (max-width:376px){
  .footerLinkContainer {
    width: 100%; 
    grid-template-columns: repeat(4, 15%);
  }
  
}
@media (max-width:769px) and (min-width:376px){
  .footerLinkContainer {
    width: 100%; 
    grid-template-columns: repeat(4, 15%);
  }
}

